{% extends "layout.njk" %}

{% block content %}

    <div class="banner">
        <div class="banner-text">
            <h1>404</h1>
            <p>Página não encontrada!</p>
        </div>
        <div class="banner-img">
            <img src="assets/chef.png" alt="">
        </div>
    </div>

<br>
    

{% endblock content %}
