@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    margin: auto;
    top: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 2%;
}

header .menu{
    margin-left: 100px;
    font-size: 16px;
    word-spacing: 20px;
}

.content {
    margin-top: 2%;
}

.content .content-header {
    background-color:#FBDFDB ;
    border-radius: 30px;

    width: 940px;
    height: 366px;

    display: flex;
    justify-content: space-between;
    
}

.content .content-header .text-box {
    margin-top: 14%;
    margin-left: 6%;

    padding-right: 30%;
}

.content .content-header .text-box h1{
    font-weight: bold;
}

.content .content-header .text-box h2{
    margin-top: 5%;
    font-size: 18px;
    opacity: 70%;
}

.content .content-header img {
    width: 216px;
    height: 300px;

    margin-top: 6%;
    margin-right: 7%;
}

.content .mostAccessed{
    margin: 2% 0;
    font-size: 24px;

    max-width: 800px;
}

.content .mostAccessed .cards{
  margin-top: 2%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}
.content .mostAccessed .cards .card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.content .mostAccessed .cards .card h4 {
    padding-top: 2%;
    font-size: 18px;
}
.content .mostAccessed .cards .card p {
    padding-top:0.5%;
    font-size: 14px;
    color: #777777;

}

footer{    
    background-color: #eeeeee;

    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 14px;
    color: #999999;
    margin: 23px auto;
}

