{% extends "layout.njk" %}

{% block head%}

    <title>About - Landie</title>

{% endblock%}

{% block content%}

<div id="wrapper">   
    <h1>{{data.title}}</h1>
    <p>{{data.text}}</p>
    <div id="list">
        {% for item in data.list %}
            <li> {{item.title}} </li>
        {% endfor %}
    </div>
</div>

{% endblock%}

 