{% extends "layout.njk" %}

{% block head%}

    <title>About - Landie</title>

{% endblock%}

{% block content%}

<div id="wrapper">   
    <h1>About our Services Provider</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    </p>
    <div id="list">
        <li> Item 1 </li>
        <li> Item 2 </li>
        <li> Item 3 </li>
    </div>
</div>

{% endblock%}

 