{% extends "layout.njk" %}

{% block head%}

    <title>Landies - Contents</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock%}
 


{% block content%}

    <section class="cards">
        <div class="card" id="gyGsPlt06bo">
            <div class="card_img">
                <img src="https://img.youtube.com/vi/gyGsPlt06bo/0.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Web Design Trends 2021</p>
            </div>
            <div class="card_info">
                <p>Envato</p>
                <p class="card_time">13:36</p>
            </div>   
        </div>

        <div class="card" id="IbOyBIS57C0">
            <div class="card_img">
                <img src="https://img.youtube.com/vi/IbOyBIS57C0/0.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Professional Web Design Process Explained in 5 minutes</p>
            </div>
            <div class="card_info">
                <p>Flux</p>
                <p class="card_time">5:54</p>
            </div>   
        </div>

        <div class="card" id="iF66er2oHBo">
            <div class="card_img">
                <img src="https://img.youtube.com/vi/iF66er2oHBo/0.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Como começar a trabalhar com web design</p>
            </div>
            <div class="card_info">
                <p>Clube do Design</p>
                <p class="card_time">6:48</p>
            </div>   
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">  <i class="material-icons">close</i> </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
      
{% endblock%}