{% extends "layout.njk" %} 
   
    {% block content%}

       <div id="wrapper">   
        <h1>Introduce Your Product Quickly & Effectively</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <button class="button" id="button1">Link 1</button>
        <button class="button" id="button2">Link 2</button>

        </div>


    {% endblock%}
    
 