{% extends "layout.njk" %} 
   
    {% block content%}

       <div id="wrapper">   
        <h1>{{data.title}}</h1>
        <p>{{data.text}}</p>
        <button class="button" id="button1">Link 1</button>
        <button class="button" id="button2">Link 2</button>

        </div>


    {% endblock%}
    
 