{% extends "layout.njk" %}

{% block head%}

    <title>Landies - {{video.title}}</title>

{% endblock%}
 

{% block content%}

    <section class="video">
        <div class="card" id="{{video.id}}">
            <div class="card_img">
                <iframe src="https://www.youtube.com/embed/{{video.id}}" frameborder="0"></iframe>
            </div>
            <div class="card_content">
                <p>{{video.title}}</p>
            </div>
            <div class="card_info">
                <p>{{video.channel}}</p>
                <p class="card_time">{{video.time}}</p>
            </div>   
        </div>

    </section>
      
{% endblock%}