{% extends "layout.njk" %}

{% block content %}
      <div class="content">
        <div class="img-logo">
            <img src="https://diegosantosarte.files.wordpress.com/2010/02/modelo2r2.jpg" alt="logo">
        </div>
        <h1>
            Arterixs Produções  
        </h1>
        <h2>
            Edição de Vídeos | Fotos | Websites
        </h2>
        <ul>
            <li>Adobe Premiere</li>
            <li>After Effects</li>
            <li>Photoshop</li>
        </ul>
    </div>

    <div class="footer">
        <div class="links-footer">
            <a href="http://" target="_blank" rel="noopener noreferrer">            
                <img src="https://i0.wp.com/multarte.com.br/wp-content/uploads/2020/04/youtube.png?w=696&ssl=1" alt="">
                Youtube
            </a>
            
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo.png" alt="">
                Instagram
            </a>
        </div>
    </div>
{% endblock %}