{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}
   <section class="cards">
        <div class="card" id="IUmyUlrV9yw">
            <div class="card_img">
                <img src="https://i.ytimg.com/vi/IUmyUlrV9yw/hq720.jpg" alt="">
            </div>
            <div class="card_title">Título do Curso</div>
            <div class="card_infos">
                <div class="card_detail">Quantidade de Módulos</div>
                <div class="card_price">Free</div>
            </div>
        </div>  
        <div class="card" id="dAj08E0GB1I">
            <div class="card_img">
                <img src="https://i.ytimg.com/vi/dAj08E0GB1I/hq720.jpg" alt="">
            </div>
            <div class="card_title">Título do Curso</div>
            <div class="card_infos">
                <div class="card_detail">Quantidade de Módulos</div>
                <div class="card_price">Free</div>
            </div>
        </div>  
        <div class="card" id="TRZ0uvMz1sA">
            <div class="card_img">
                <img src="https://i.ytimg.com/an_webp/TRZ0uvMz1sA/mqdefault_6s.webp?du=3000&sqp=CMDR9PcF&rs=AOn4CLBbGTNn_j8HRWNQUNDcxZyghfEWCA" alt="">
            </div>
            <div class="card_title">Título do Curso</div>
            <div class="card_infos">
                <div class="card_detail">Quantidade de Módulos</div>
                <div class="card_price">Free</div>
            </div>
        </div>  
        <div class="card" id="B2XqF3aWobA">
            <div class="card_img">
                <img src="https://i.ytimg.com/an_webp/B2XqF3aWobA/mqdefault_6s.webp?du=3000&sqp=CMDY9PcF&rs=AOn4CLDSK-VEIJLmAN8inj5FSj8EG-Mp7A" alt="">
            </div>
            <div class="card_title">Título do Curso</div>
            <div class="card_infos">
                <div class="card_detail">Quantidade de Módulos</div>
                <div class="card_price">Free</div>
            </div>
        </div>  
        <div class="card" id="B2XqF3aWobA">
            <div class="card_img">
                <img src="https://i.ytimg.com/vi/IUmyUlrV9yw/hq720.jpg" alt="">
            </div>
            <div class="card_title">Título do Curso</div>
            <div class="card_infos">
                <div class="card_detail">Quantidade de Módulos</div>
                <div class="card_price">Free</div>
            </div>
        </div>  
        <div class="card" id="B2XqF3aWobA">
            <div class="card_img">
                <img src="https://i.ytimg.com/vi/IUmyUlrV9yw/hq720.jpg" alt="">
            </div>
            <div class="card_title">Título do Curso</div>
            <div class="card_infos">
                <div class="card_detail">Quantidade de Módulos</div>
                <div class="card_price">Free</div>
            </div>
        </div>  
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <span class="material-icons">close</span>
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
    
    <script src="scripts.js"></script>
    
{% endblock %}

