{% extends "layout.njk" %}

{% block head %} 

    <title>Portfolio Ian Prioste</title>    

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel ="stylesheet">


        
{% endblock %}


{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>
    
    <section class="cards"> <!--Criado apenas para ser semântico-->
        
        {% for item in items %}

            <div class="card" id="{{item.id}}">
                <div class="card_container {{'featured-wrapper' if item.featured}}">
                    <div class="card_container_image">
                        <img src="https://img.youtube.com/vi/{{item.id}}/0.jpg" alt="Imagem de {{item.title}}">
                    </div>
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>
            </div>

        {% endfor %}
    
    </section>

    <script src="/scripts.js"></script>

{% endblock %}